<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModelEndpoint" value="http://localhost:11434" />
    <add key="ModelName" value="llama3.2" />
    <add key="AppDesc" value="Semantic Kernel app using Ollama to serialise PDFs into vectors. The idea is to vectorise multiple PDFs first, use AI to analyse after." />
  </appSettings>
</configuration>